/* ******  Resets ****** */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
body {
  background-image: radial-gradient(
    circle 15.5rem at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
  background-attachment: fixed;

  font-family: Arial, Helvetica, sans-serif;

  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.cabezera {
  grid-column: span 1;
  grid-row: span 1;
}

.texto {
  grid-column: span 1;
  grid-row: 2 / 3;
}

.img-cats {
  grid-column: span 1;
  grid-row: 3 / 4;
}

@media screen and (min-width: 48em) {
  .cabezera {
    grid-column: span 2;
    grid-row: span 1;
  }

  .texto {
    grid-column: span 1;
    grid-row: 2 / 3;
  }

  .img-cats {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

/* ********** Navigation ********** */

.navigation {
  width: 100%;
  height: 50%;
}
.nav-links {
  height: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-img {
  width: 6.25rem;
  height: 10rem;

  clip-path: polygon(100% 0, 100% 40%, 100% 100%, 49% 65%, 0 100%, 0 0);
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 300ms ease-in-out;

  position: absolute;
  top: 4.375rem;
  bottom: auto;
  left: 0.9375rem;
  right: auto;
  z-index: 5;

  rotate: 270deg;
}

.nav-img img {
  width: 3.125rem;
  height: 3.125rem;

  margin-bottom: 3.125rem;
  rotate: 90deg;
}

.nav-img:hover {
  transform: translateY(0.9375rem);
  cursor: pointer;
}

@media screen and (min-width: 48em) {
  .navigation {
    height: 50%;
    width: 97%;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.875rem;
  }

  .nav-img {
    rotate: 0deg;
    top: -0.9375rem;
    bottom: auto;
    left: 0.9375rem;
    right: auto;
  }

  .nav-img img {
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 3.125rem;
    rotate: 0deg;
  }
}

/* ********** Texto ********** */

.texto {
  width: 100%;
  height: 100%;
}

.texto h1 {
  font-size: clamp(1.125rem, 1.625rem, 2rem);
}

.texto p {
  font-size: clamp(1.125rem, 1.25rem, 1.375rem);
}

.texto .button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10.625rem;
  height: 3.75rem;
  margin-bottom: 3.125rem;

  background-color: #fff;
  color: #000;

  border: 0.0625rem solid rgb(248, 248, 255);
  border-radius: 3.125rem;
  transition: transform 100ms;
}

.texto a:hover {
  transform: translate(-0.3125rem, -0.4375rem);
}

@media screen and (min-width: 48em) {
  .texto {
    width: 100%;
  }
}

/* ********** Icons Media ********** */

.icons-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9375rem;
  margin-left: 0.9375rem;
}
.icons-media img {
  width: 3.125rem;
  transition: transform 100ms;
}

.icons-media img:hover {
  transform: translate(-0.5rem, -0.5rem);
}

/* ********** img-cats ********** */

.img-cats {
  width: clamp(15.625rem, 37.5rem, 100%);
  position: relative;
}

.img-cats img {
  position: absolute;
}

.cat {
  z-index: 3;
  top: 18.75rem;
  bottom: 0;
  left: 0;
  right: 0;

  transform: rotateY(180deg);
}

.food {
  top: 0.625rem;
  bottom: 0;
  left: -4.375rem;
  right: 0;
}

@media screen and (min-width: 48em) {
  .img-cats {
    margin-left: -2.5rem;
  }

  .cat {
    z-index: 3;
    top: -11.875rem;
    bottom: 0;
    left: 3.125rem;
    right: 0;
  }

  .food {
    top: -28.125rem;
    bottom: 0;
    left: -0.9375rem;
    right: 0;
  }
}

@media screen and (min-width: 63.938em) {
  .cat {
    z-index: 3;
    top: -11.875rem;
    bottom: 0;
    left: 3.125rem;
    right: 0;
  }

  .food {
    top: -31.25rem;
    bottom: 0;
    left: -0.9375rem;
    right: 0;
  }
}

@media screen and (min-width: 81.25em) {
  .img-cats {
    width: clamp(15.625rem, 37.5rem, 75%);
  }

  .cat {
    z-index: 3;
    top: -14.375rem;
    bottom: 0;
    left: 9.375rem;
    right: 0;
  }

  .food {
    width: 28.125rem;
    top: -31.25rem;
    bottom: 0;
    left: 3.125rem;
    right: 0;
  }
}
